body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a:link {
  color: seashell;
}

a:visited {
  color: seashell;
}

a:hover {
  color: seashell;
}

a:active {
  color: seashell;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* HEADER */

header.flex-container {
  justify-content: space-between;
  height: 69px;
  align-items: center;
  border-bottom: 2px solid seashell;
}

header.flex-container img {
  padding-left: 10px;
  height: 50px;
}

nav {
  text-decoration: underline;
  color: #797471;
  justify-content: space-between;
  width: 350px;
  display: flex;
  margin: 0 10px;
}

/* MAIN */

.main {
  width: 1200px;
  margin: 0 auto;
}

/* MISSION SECTION */



#mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: black;
  width: 100%;
}

/* TEA FLAVOURS */

#store {
  width: 1000px;
  margin: 60px auto;
}

.item {
  flex-direction: column;
  display: flex;
  padding: 5px;
}

.item img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

/* LOCATIONS */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  display: flex;
  flex-direction: column;
}

.location {
  flex-basis: 280px;
  background-color: black;
  margin: 5px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

/* CONTACT */

#contact {
  height: 200px;
}

/* FOOTER */

footer {
  display: flex;
  margin-left: 20px;
  justify-content: flex-start;
}
